
/* ---------------- */
/* Unicorn */
 .unicorn-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  background-color: #ed1c27;
  border-radius: 50%;
  
}
.unicorn-container.rainbow {
	background-image: $rainbow;
	background-size: 200%;
}

.unicorn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  
  -webkit-mask-image: url('unicorn.png');
  -webkit-mask-size: cover;
}

.star {
  position: absolute;
  height: auto;
  fill: #fff;
  animation: twinkle 2s infinite;  
}

.star_1 {
	width: 4.8%;
	top: 41%;
	left: 23.9%;
}
.star_2 {
	width: 3.9%;
	top: 13.9%;
	left: 45.4%;
	animation-delay: 0.4s;
}
.star_3 {
	width: 5.9%;
	top: 62.4%;
	left: 46%;
	animation-delay: 0.6s;
}
.star_4 {
	width: 7%;
	top: 30%;
	left: 58.2%;
	animation-delay: 1.2s;
}
.star_5 {
	width: 4.4%;
	top: 38.5%;
	left: 75%;
	animation-delay: 1.5s;
}

@keyframes twinkle {
  0% { transform: scale(1) rotateZ(0deg); }
  20% { transform: scale(0) rotateZ(-90deg); }
  40% { transform: scale(1) rotateZ(-180deg); }
  100% { transform: rotateZ(-180deg); }
} 